@font-face {
    font-family: GilroyLight;
    src: url('../../fonts/gilroy-light.otf');
}

* {
    font-family: GilroyLight;
}

.outline-button {
    width: 200px;
    color: white;
    font-size: 20px;
    padding: 9px 50px;
    border: 2px solid white;
    border-radius: 35px;
    transition: 0.3s;

    &:hover {
        background-color: #6CBD98;
        border-color: #6CBD98;
    }
}

body {
    h1 {
        font-size: 62px;
        color: white;
    }
}

.holder {
    width: 100%;
    height: 100%;
    display: grid;

    &-left {
        height: 100%;
        position: relative;

        width: 100%;
        overflow: hidden;
        box-shadow: none;
        padding-top: 10%;

        &-back {
            width: 100%;
            &-link {
                margin-left: 10%;
                display: flex;
                align-items: center;
                width: max-content;

                p {
                    font-size: 24px;
                    color: white;
                    margin-left: 15px;
                    font-weight: lighter;
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-right {
        padding-top: 40px;
        padding-right: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
