body {
  background-image: url(/images/main-image.png?eb4f2de523fe66c52ef06e5e7382bf3b);
  width: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
body h1 {
  margin-top: 130px;
  margin-bottom: 80px;
}
body .holder {
  grid-template-columns: 47% 53%;
}
body .holder-left {
  background-color: rgba(255, 255, 255, 0.15);
}
body form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body form .outline-button {
  max-width: 252px;
  min-width: 200px;
  width: 100%;
}
body form .forgot-password {
  font-size: 20px;
  color: white;
  margin-top: 36px;
  margin-bottom: 30px;
}
body form .form-group {
  max-width: 393px;
  min-width: 260px;
  width: 100%;
  margin-bottom: 18px;
}
body form .form-group:last-of-type {
  margin-bottom: 0;
}
body form .form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 13px 30px;
  border: 0.5px solid white;
  width: 100%;
  color: white;
  font-size: 18px;
}
body form .form-group input::-moz-placeholder {
  color: white;
}
body form .form-group input:-ms-input-placeholder {
  color: white;
}
body form .form-group input::placeholder {
  color: white;
}
