body {
  background-image: url(/images/main-image.svg?790dc7a07cc135eb681817b756b16305);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

.holder {
  width: 100%;
  display: grid;
  grid-template-columns: 47% 53%;
}
.holder-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
