@font-face {
  font-family: GilroyLight;
  src: url(/fonts/gilroy-light.otf?cc7ab55d27205bd640016b19810e50c7);
}
* {
  font-family: GilroyLight;
}

body {
  background-image: url(/images/main-image.png?1793dcc7c072bdf020e521a5bb1abe76);
  width: 100%;
  height: 100vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
body h1 {
  font-size: 62px;
  color: white;
}
.holder {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 47% 53%;
}
.holder-left {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: none;
  padding-top: 10%;
}
.holder-left::after {
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(/images/main-image.png?1793dcc7c072bdf020e521a5bb1abe76);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(15px);
  content: "";
}
.holder-left-back {
  width: 100%;
}
.holder-left-back-link {
  margin-left: 10%;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.holder-left-back-link p {
  font-size: 24px;
  color: white;
  margin-left: 15px;
  font-weight: lighter;
}
.holder-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holder-right {
  padding-top: 40px;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
