@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: GilroyLight;
    src: url('../fonts/gilroy-light.otf');
}

.text-white {
    color: white;
}

.text-pink {
    color: #DD195B
}

.text-green {
    color: #4B8364;
}

.text-small {
    font-size: 10px;
}

.text-header-medium {
    font-size: 20px !important;
}

html, body {
    font-family: GilroyLight;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 23px;
}

.section1 {
    width: 100%;
    height: 100vh;
    background-image: url('../images/main-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 8%;
    box-sizing: border-box;
}

.section1-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
}

.robin-logo {
    cursor: pointer;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    width: 55px;
    height: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    left: -28px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content p {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.first-dropdown {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.last-dropdown {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.dropdown-content p:hover {
    background-color: #ddd;
}

.dropdown-content:first-child p:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.section1-body {
    max-width: 700px;
}

.section1-body h1 {
    line-height: 1.1;
    font-size: 65px;
    padding: 40px 0;
}

.section1-body p {
    padding-bottom: 70px;
}

.section1-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section1-buttoncontainer {
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section1-buttoncontainer a {
    width: 200px;
    color: white;
    font-size: 20px;
    padding: 9px 50px;
    border: 2px solid white;
    border-radius: 35px;
    transition: 0.3s;
}

.section1-buttoncontainer a:hover {
    background-color: #6CBD98;
    border-color: #6CBD98;
}

.section2 {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.section2-responsive-image {
    background-image: url("../images/section2-image.jpg");
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    margin-bottom: 16px;
}

@media screen and (max-width: 825px) {
    .heartAnimation {
        display: none;
    }

    .section2 {
        grid-template-columns: 1fr;
    }

    .section2-image {
        display: none;
    }

    .section2-responsive-image {
        height: 300px;
        display: block;
    }

    .section2-body {
        padding: 60px 0 !important;
    }

    .section2-body h2, .section2-body p {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 600px) {
    .section1-body h1 {
        font-size: 40px;
    }
}

.section2-image{
    background-image: url("../images/section2-image.jpg");
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section2-body {
    padding: 60px 8%;
    background: linear-gradient(white 50%, rgba(99, 176, 132, 0.37));
}

.section2-body h2 {
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 20px;
}

.section2-body p {
    font-size: 16px;
}

.section2-body p.section2-textpadding {
    padding-bottom: 16px;
}

.section3 {
    background: linear-gradient(white 50%, rgba(221, 25, 91, 0.42));
    width: 100%;
    padding-top: 60px;
    padding-left: 8%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 850px){
    .section3-left {
        position: static !important;
    }
}

.section3-left {
    position: absolute;
    max-width: 400px;
}

.section3-left h2 {
    font-weight: bold;
}

.section3-right {
    align-self: flex-end;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 7px;
    background: #DD195B;
    top: 40px;
    bottom: 40px;
    left: 50%;
    margin-left: -1px;
    border-radius: 7px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 8px);
    right: -28px;
    background: #FFA2C0;
    border: 7px solid #DD195B;
    border-radius: 50px;
    z-index: 1;
}

.container.right::after {
    left: -22px;
}

.container.right::before {
    left: 8px;
}

.container .content {
    text-align: right;
    top: 50px;
    padding: 0 30px 0 60px;
    position: relative;
    border-radius: 0 500px 500px 0;
}

.container.right .content {
    text-align: left;
    padding: 0 30px 0 30px;
    border-radius: 500px 0 0 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-weight: normal;
    color: #DD195B;
    line-height: 1.1;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    color: #000000;
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 90px;
    }

    .container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }

    .container.right {
        left: 0%;
    }

    .container.left::after,
    .container.right::after {
        left: 68px;
    }

    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent #006E51 transparent transparent;
    }

    .container.left .date,
    .container.right .date {
        right: auto;
        left: 15px;
    }

    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }

    .container.left .content,
    .container.right .content {
        text-align: left;
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}

.section4 {
    background: linear-gradient(white 50%, #EFEFEC);
    padding: 60px 8%;
    display: flex;
}

.section4 img {
    padding-right: 60px;
}

.section4-topbubble {
    background-color: rgba(99, 178, 134, 0.21);
    border-radius: 48px;
    margin-bottom: 48px;
    position: relative;
}

.section4-topbubble::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-right-color: rgba(99, 178, 134, 0.21);
    border-left: 0;
    border-bottom: 0;
    margin-top: -15px;
    margin-left: -30px;
}

.section4-innertopbubble {
    padding: 40px 200px 40px 100px;
    font-weight: bold;
}

.section4-bottombubble {
    display: inline-block;
    background-color: #63B286;
    border-radius: 58px;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.section4-bottombubble:hover {
    transform: scale(1.1);
}

.section4-bottombubble::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: #63B286;
    border-left: 0;
    border-top: 0;
    margin-top: -12.5px;
    margin-left: -22px;
}

.section4-innerbottombubble {
    padding: 20px 150px 20px 100px;
    font-weight: bold;
}

@media screen and (max-width: 1070px) {
    .section4-innertopbubble {
        padding: 40px 80px;
    }
}

@media screen and (max-width: 890px) {
    .section4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section4 img {
        padding-right: 0;
        padding-bottom: 50px;
        max-width: 280px;
    }

    .section4-topbubble {
        width: 100%;
    }

    .section4-innertopbubble {
        text-align: center;
        padding: 35px 25px;
    }

    .section4-bottombubble {
        width: 100%;
        text-align: center;
    }

    .section4-innerbottombubble {
        padding: 17px 40px;

    }

    .section4-bottombubble::after {
        content: none;
    }

    .section4-topbubble::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-bottom-color: rgba(99, 178, 134, 0.21);
        border-top: 0;
        border-right: 0;
        margin-left: -75px;
        margin-top: -25px;
    }
}

.section5 {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section5 h2 {
    font-weight: bold;
    padding-bottom: 40px;
}

.section5 p {
    font-size: 16px;
    width: 480px;
    text-align: center;
    padding-bottom: 60px;
}

.section6 {
    background: linear-gradient(#EFEFEC 50%, white);
    padding: 90px 8%;
}

.section6 h2 {
    font-weight: bold;
    padding-bottom: 60px;
}

.section6-headertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card {
    border-radius: 28px;
    max-width: 500px;
    height: 250px;
    padding: 30px 30px 20px 30px;
    background-color: rgba(99, 178, 134, 0.21);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    position: relative;
    cursor: pointer;
}

.card:hover > h3, .card:hover > .grid-swap-color {
    color: #DD195B;
}

.card:hover > .grid-right-price {
    background-color: #DD195B;
}

.card h3 {
    padding-bottom: 30px;
}

.grid-jump {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-right-price {
    position: absolute;
    text-align: right;
    background-color: #63B286;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 15px 31px;
    top: 30px;
    right: 0;
}

.price-small {
    font-size: 13px;
    line-height: 0.8;
}

.grid-right {
    text-align: right;
}

.section7 {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(221, 25, 91, 0.3)), url("../images/blurred-image.jpeg") no-repeat center 70%;
    background-size: cover;
}

.section7-inner {
    backdrop-filter: blur(20px) brightness(1.15);
    padding: 60px 8%;
    display: flex;
}

.form-fields {
    display: grid;
    grid-template-columns: auto auto;
}

.section7-left {
    max-width: 500px;
}

.section7-left h2 {
    font-weight: bold;
    padding-bottom: 40px;
}

.contact-padding {
    padding-bottom: 20px;
}

.contact-maxwidth {
    max-width: 300px;
}

.section7-right {
    padding-top: 105px;
    padding-left: 20px;
}

.form-section {
    display: flex;
    flex-flow: column-reverse;
}

.form-section input, .form-section textarea {
    background: rgba(255, 255, 255, 0.30);
    -webkit-appearance: none;
    border-radius: 0;
    cursor: text;
    border: 1px solid white;
    margin-bottom: 10px;
}

.form-section input:focus, .form-section textarea:focus, input[type=submit] {
    outline: 0;
}

.form-section input::placeholder, .form-section textarea::placeholder {
    color: white;
}

.form-section input::-ms-input-placeholder, .form-section textarea::-ms-input-placeholder {
    color: white;
}

.form-section input:-ms-input-placeholder, .form-section textarea:-ms-input-placeholder {
    color: white;
}

.form-big {
    width: 400px;
    margin-left: 10px;
}

.form-big textarea {
    height: 174px;
    padding: 5px 0 0 10px;
}

.form-small {
    width: 260px;
}

.form-small input {
    height: 36px;
    padding: 0 0 0 10px;
}

.send-button {
    border-radius: 26px;
    margin-top: 10px;
    float: right;
    padding: 10px 120px;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    transition: 0.3s;
}

@media screen and (max-width: 1110px) {
    .form-fields {
        grid-template-columns: auto;
    }

    .section7-right {
        width: 100%;
    }

    .form-small {
        width: 100%;
    }

    .form-big {
        margin: 0;
        width: 100%;
    }

    .send-button {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .section7-inner {
        flex-direction: column;
    }

    .section7-right {
        padding-top: 30px;
        padding-left: 0;
    }
}

.send-button:hover {
    background-color: #63B286;
    border-color: #63B286;
}

.section8 {
    background: #63B286;
    padding-top: 60px;
}

.section8 h2 {
    font-weight: bold;
    padding-bottom: 40px;
}

.section8-headertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}

.slider {
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    content: "";
    height: 250px;
    position: absolute;
    width: 250px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(300px * 14);
}

.slide {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    position: relative;
}

.slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    max-width: 250px;
    max-height: 250px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 8%;
    background-color: rgba(255, 255, 255, 0.3);
}

.policy {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.policy > a {
    padding-right: 10px;
}

.clickable {
    cursor: pointer;
}

#navbar {
    height: 80px;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 100vh;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.navbar-left, .navbar-right {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.navbar-left p, .nav-login {
    line-height: 80px;
    height: 80px;
}

.nav-signup {
    width: 200px;
    border-radius: 30px;
    border: 2px solid #63B286;
    margin-top: 10px;
    line-height: 50px;
    height: 55px;
    color: #63B286;
}

.nav-signup:hover {
    color: white;
    background-color: #63B286;
}

.navbar-left p, .nav-login {
    width: 160px;
}

.navbar-left p {
    font-size: 13px;
}

.nav-login {
    font-weight: bold;
    color: #DD195B;
    margin-right: 5px;
}

.navbar-left p:hover, .nav-login:hover {
    background-color: #F5F5F5;
}

.nav-login:after, .navbar-left p:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav-login:hover:after, .navbar-left p:hover:after {
    width: 100%;
}

.nav-login:hover:after {
    background: #DD195B;
}

.navbar-left p:hover:after {
    background: black;
}

#navbar.sticky {
    position: fixed;
    top: 0;
}

@media screen and (max-width: 770px) {
    .policy {
        width: 100%;
        flex-direction: column;
        padding-right: 0;
    }

    .policy > a {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .footer {
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1100px) {
    .navbar-left {
        display: none;
    }

    .navbar-right {
        width: 100%;
        justify-content: space-between;
    }
}
