@font-face {
    font-family: GilroyLight;
    src: url('../fonts/gilroy-light.otf');
}

* {
    font-family: GilroyLight;
}

/* Font Sizes */
.font-size-24 {
    font-size: 24px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-16 {
    font-size: 16px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 346px;
    height: 100%;
    left: 0;
    top: 0;
    background: #6CBE99 0% 0% no-repeat padding-box;
    color: white;
    padding: 31px 52px 0 61px;
}

.sidebar-brand {
    width: 107px;
    padding-bottom: 61px;
}

.sidebar-add {
    display: flex;
    align-items: center;
    width: 166px;
    padding-bottom: 14px;
}

.sidebar-add i {
    padding-right: 11px;
    font-size: 20px;
}

.sidebar-divider {
    padding-bottom: 35px;
}

.sidebar-search p, .sidebar-arrange p {
    padding-bottom: 13px;
}

.sidebar-search input, .sidebar-arrange div {
    margin-bottom: 20px;
}

.sidebar-search input {
    width: 233px;
    height: 38px;
    border-radius: 16px;
    border: 1px solid #4B8364;
    outline: 0;
    color: black;
    padding: 0 22px;
    font-size: 14px;
}

.sidebar-search input::placeholder {
    font-size: 14px;
    color: #C6C6C5;
}

.sidebar-users p {
    opacity: 0.5;
}

/* Menu */
.menu, .menu-content {
    position: fixed;
    width: 346px;
    top: 0;
    right: 0;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    color: black;
    display: block;
}

.menu {
    padding: 32px 38px 0 62px;
    border-top-right-radius: 37px;
    border-top-left-radius: 37px;
    display: flex;
    flex-direction: column;
    height: 82px;
    transition: all 0.5s;
}

.menu-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
}

.menu-name p {
    padding-right: 25px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-name .fa-user-circle {
    padding-right: 6px;
}

.menu-name i {
    font-size: 20px;
}

.menu-content {
    margin-top: 82px;
    height: 100%;
    border-bottom-right-radius: 37px;
    border-bottom-left-radius: 37px;
    padding: 27px 38px 0 62px;
}

.menu-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 57px;
}

.menu-settings i {
    font-size: 24px;
}

.menu-changename-show, .menu-changenumber-show {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.menu-changename-show p, .menu-changenumber-show p {
    padding-right: 14px;
}

.menu-changename-show i, .menu-changenumber-show i {
    font-size: 14px;
    color: #C6C6C5;
}

.fa-user-circle, .fa-bell, .fa-angle-up, .fa-sign-out-alt {
    color: #63B286;
}

/* Custom dropdown */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 14px;
    font-weight: 300;
    color: #3b3b3b;
    width: 233px;
    height: 38px;
    border-radius: 16px;
    border: 1px solid #4B8364;
    line-height: 38px;
    background: #ffffff;
    cursor: pointer;
}

.custom-select__trigger span {
    color: #C6C6C5;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    width: 233px;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    margin-top: -20px;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 38px;
    cursor: pointer;
    transition: all 0.5s;
    padding: 0 22px;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.custom-option.selected {
    color: #ffffff;
    background-color: #3D67AF;
}

/* Custom dropdown arrow */
.arrow {
    position: relative;
    height: 5px;
    width: 5px;
    margin-top: 20px;
}

.menu-arrow {
    top: 65px;
    height: 8px;
    width: 8px;
    align-self: center;
    position: absolute;
}

.arrow::before, .arrow::after, .menu-arrow::before, .menu-arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.08rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before, .menu-arrow::before {
    transform: rotate(45deg);
    background-color: #63B286;
}

.arrow::before {
    left: -1.5px
}

.menu-arrow::before {
    left: -2.5px;
}

.arrow::after, .menu-arrow::after {
    transform: rotate(-45deg);
    background-color: #63B286;
}

.arrow::after {
    left: 1.5px;
}

.menu-arrow::after {
    left: 2.5px;
}

.open .arrow::before, .open .menu-arrow::before {
    transform: rotate(-45deg);
}

.open .arrow::before {
    left: -1.5px;
}

.open .menu-arrow::before {
    left: -2px;
}

.open .arrow::after, .open .menu-arrow::after {
    transform: rotate(45deg);
}

.open .arrow::after {
    left: 1.5px;
}

.open .menu-arrow::after{
    left: 2px;
}
